body
{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(51, 48, 48), rgb(184, 184, 184));
}

fieldset
{
    border: 3px solid dodgerblue;
}   

legend
{
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
}

.title
{
    font-weight: bold
}

.box
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 25%;
    color: white;
}


#submit
{
    background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
}


#submit:hover
{
    background-image: linear-gradient(to right, rgb(90, 20, 220), rgb(0, 92, 197));
}

.inputBoxGenero
{
    position: relative;
    margin-top: 20px;
}
